<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Periodo determinado">
        <iframe src="http://172.24.99.148:8050/" class="frame"></iframe>
    </mat-tab>
    <mat-tab label="Zona Geográfica + periodo determinado"> 
        <iframe src="http://172.24.99.148:8051/"  class="frame"></iframe>
    </mat-tab>
    <mat-tab label="Número de Reportes por distrito policial">
        <iframe src="http://172.24.99.148:8050/"  class="frame"></iframe>
    </mat-tab>
</mat-tab-group>
