.frame{
  height: 800px;
  width: 100%;
}


  @media screen and (max-width: 1280px) {
    .frame{
      height: 300px;
    }
  }

  @media screen and (max-width: 1368px) {
    .frame{
      height: 600px;
    }
  }
